<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::Layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
     <section>
         <div class="card me-3 ms-3">
              <div class="card-body">
                   <h1 class="text-center"> Your contacts </h1>
                   <table class="table">
                     <thead class="thead-dark">
                         <tr>
                               <th scope="col">#ID</th>
                               <th scope="col">Name</th>
                               <th scope="col">Nickname</th>
                               <th scope="col">Email</th>
                               <th scope="col">Phone</th>
                               <th scope="col">Action</th>
                         </tr>
                     </thead>
                     <tbody>
                        <tr th:each="c : ${contacts}">
                           <th scope="row" th:text="${'SCM2020' + c.Cid}">1</th>
                           <td >
                               <img src="" class="my_profile_pic" th:src="@{'/img/' + ${c.imageName}}" alt="profile photo"/>
                              <span th:text="${c.fname}"></span>
                           </td>
                           <td th:text="${c.secname}"></td>
                           <td> 
                            
                           
    <a th:href="@{'/user/'+ ${c.Cid} +'/contact'}" th:text="${c.email}"></a>

                           
                          
                           <td th:text="${c.phone}"></td>
                           
                           <td>
                           <div class="container">
                             <a href="#" th:onclick="|deleteCon(${c.Cid})|" class="btn btn-danger btn-sm">Delete</a>
                            <form method="POST" th:action="@{'/user/update-contact/' + ${c.Cid}}" class="mt-2">
                               <button type="submit" class="btn btn-primary btn-sm">Update</button>
                            </form>
                            </div>
                           </td>
                          
                      </tr>
                      
                     </tbody>
                </table>
                <nav aria-label="Page navigation example">
                <ul class="pagination">
                   <li th:if="${currentPage!=0}"class="page-item"><a th:href="@{'/user/view-contacts/'+ ${currentPage-1}}" class="page-link" href="#">Previous</a></li>
    <li th:classappend="${currentPage==i-1?'active':''}" th:each="i : ${#numbers.sequence(1, totalPages)}" class="page-item">
        <a class="page-link" th:href="@{'/user/view-contacts/'+ ${i - 1}}">
            <span th:text="${i}"></span>
        </a>
    </li>
      
    <li th:if="${currentPage+1!=totalPages}"class="page-item"><a th:href="@{'/user/view-contacts/'+ ${currentPage+1}}"class="page-link" href="#">Next</a></li>
  </ul>
</nav>
              </div>
         </div>
     </section>
</body>
</html>