<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::Layout(~{::section})">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
</head>
<body>
       <section>
           <div class="card me-3 ms-3">
         
             <div class="card-body">
             
                  <h1 class="text-center">Update your contact</h1>
                  
                  <div class="container-fluid mt-1">
                      
                      <div class="row">
                           <div class="col-md-8 offset-md-2">
                              
                              <form action="#" th:object="${contact}" 
                              method="POST" enctype="multipart/form-data" th:action="@{/user/process-update}" class="mt-2">
                              
                              <input type="hidden" th:value="${contact.Cid}" name="Cid">
                                  <!-- First Name -->
                                  <div class="input-group">
                                       <div class="input-group-prepend">
                                             <div class="input-group-text">
                                                 <i class="fa fa-plus"></i>
                                             </div>
                                       </div>
                                       <input  th:value="${contact.fname}" required type="text" id="name" name="fname" placeholder="Enter name here" class="form-control">
                                  </div>
                                  <!-- Second name -->
                                  
                                  <div class="input-group mt-3">
                                       <div class="input-group-prepend">
                                             <div class="input-group-text ">
                                                 <i class="fas fa-user-alt"></i>
                                             </div>
                                       </div>
                                       <input th:value="${contact.secname}" required type="text" id="secname" name="secname" placeholder="Enter nick name" class="form-control">
                                  </div>
                                  
                                  <!-- Number Field -->
                                  <div class="input-group mt-3">
                                       <div class="input-group-prepend">
                                             <div class="input-group-text ">
                                                 <i class="fas fa-phone"></i>
                                             </div>
                                       </div>
                                       <input th:value="${contact.phone}" required min="10" type="number" id="phone" name="phone" placeholder="Enter phone number here" class="form-control">
                                  </div>
                                  <!-- Email Field -->
                                  
                                  <div class="input-group mt-3">
                                       <div class="input-group-prepend">
                                             <div class="input-group-text ">
                                               @
                                             </div>
                                       </div>
                                       <input th:value="${contact.email}" required type="email" id="email" name="email" placeholder="Enter email here" class="form-control">
                                  </div>
                                  
                                  <!-- Work Field -->
                                  
                                  <div class="input-group mt-3">
                                       <div class="input-group-prepend">
                                             <div class="input-group-text ">
                                                 <i class="fa fa-briefcase"></i>
                                             </div>
                                       </div>
                                       <input th:value="${contact.work}" required type="text" id="wrok" name="work" placeholder="Enter your work here" class="form-control">
                                  </div>
                                  
                                  <!-- Contact discription -->
                                  <div class="form-group mt-3">
                                       <textarea th:text="${contact.descr}" name="descr" id="descr" class="form-control" rows="10" placeholder="Enter contact discription"></textarea>
                                  </div>
                                  
                                  <!-- Contact Image -->
                                  
                                  <div class="container text-center">
                                       <img style="width: 250px; height: 250px; border-radius:50%;" class="img-fluid" src="" th:src="@{'/img/' + ${contact.imageName}}" alt="">
                                  </div>
                                  <div class="custom-file mt-3">
                                  <p class="text-secondry">choose new profile pic</p>
                                    <input type="file" name="image" placeholder="">
                                  </div>
                                  
                                  <div class="container mt-3 text-center">
                                       <button class="btn btn-outline-primary"> Save Contact</button>
                                  </div>
                              </form>
                           
                           </div>
                      </div>
                      
                  </div>
                  
             </div>
             
         </div>
         <script src="https://cdn.tiny.cloud/1/ye3qezaqa8am2e4g5z5ywgfb11kpwbg8az0bsdp2a14zfxb1/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
         <script>tinymce.init({selector:'textarea'});</script>
       </section>
</body>
</html>